body {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	font-weight: 600;
	font-size: 4em;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	outline: 1px solid black;
	text-align: center;
	
	width: 50px;
	height: 50px;
}

.pageRow {
	display: flex;
}

.pageColumn {
	flex: 50%;
}

#dayCounter {
	margin-left: 5px;
}

.emptyPlot {
	background-color: #74663b;
}

.plantedPlotStg1 {
	background-color: #9eff51;
}

.plantedPlotStg2 {
	background-color: #4bda00;
}

.plantedPlotStg3 {
	background-color: #e9ff00;
}